{% extends 'layout/master_layout.html' %}


{% block body %}
    <div class="container">
        <h1>Tiếp nhận học sinh</h1>
        <form class="row" method="post">
            <div class="col-md-6 d-flex flex-column gap-1 p-2">
                <label for="formGroupExampleInput">Họ</label>
                <input
                        type="text"
                        class="form-control"
                        id="ho"
                        name="ho"
                        placeholder="Nhập họ"
                />
            </div>
            <div class="col-md-6 d-flex flex-column gap-1 p-2">
                <label for="formGroupExampleInput">Tên</label>
                <input
                        type="text"
                        class="form-control"
                        id="ten"
                        name="ten"
                        placeholder="Nhập tên"
                />
            </div>
            <div class="col-md-6 d-flex flex-column gap-1 p-2">
                <label for="gioitinh">Giới tính</label>

                <div class="form-check">
                    <input class="form-check-input"
                           type="radio"
                           name="gioitinh"
                           id="nam"
                           value="Nam"
                           checked>
                    <label class="form-check-label" for="nam">
                        Nam
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input"
                           type="radio"
                           name="gioitinh"
                           id="nu"
                           value="Nữ"
                    >
                    <label class="form-check-label" for="nu">
                        Nữ
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input"
                           type="radio"
                           name="gioitinh"
                           id="khac"
                           value="Khác">
                    <label class="form-check-label" for="khac">
                        Khác
                    </label>
                </div>
            </div>
            <div class="col-md-6 d-flex flex-column gap-1 p-2">
                <label for="formGroupExampleInput">Ngày sinh</label>
                <input
                        type="date"
                        class="form-control"
                        id="ngaysinh"
                        name="ngaysinh"
                        placeholder="Nhập ngày sinh"
                />
            </div>
            <div class="col-md-6 d-flex flex-column gap-1 p-2">
                <label for="formGroupExampleInput">Địa chỉ</label>
                <input
                        type="text"
                        class="form-control"
                        id="diachi"
                        name="diachi"
                        placeholder="Nhập địa chỉ"
                />
            </div>
            <div class="col-md-6 d-flex flex-column gap-1 p-2">
                <label for="formGroupExampleInput">Số điện thoại</label>
                <input
                        type="tel"
                        class="form-control"
                        id="sodienthoai"
                        name="sodienthoai"
                        placeholder="Nhập số điện thoại"
                />
            </div>
            <div class="col-md-6 d-flex flex-column gap-1 p-2">
                <label for="formGroupExampleInput">Email</label>
                <input
                        type="text"
                        class="form-control"
                        id="email"
                        name="email"
                        placeholder="Nhập email"
                />
            </div>
            <div class="d-flex justify-content-center mt-3">
                <button onclick="addStudent()" type="button" class="col-2 btn btn-primary btn-submit-hoc-sinh">Lưu</button>
            </div>
        </form>
    </div>

    <script src="{{ url_for('static', filename = 'js/Action/TiepNhanHocSinh.js') }}"></script>

{% endblock %}



