{% extends 'layout/master_layout.html' %}


{% block body %}
    <div class="container">
        <form class="row ">
            <div class="col-md-3 d-flex flex-column gap-1 p-2">
                <h2>Chọn lớp và học kỳ</h2>
                <label for="hoc_ky_dropdown">Chọn học kỳ</label>
                <select onchange="chonHocKy()" id="hoc_ky_dropdown" class="form-select"
                        aria-label="Default select example">
                    <option value="-1" selected>Chọn</option>
                    {% for school_year in school_years %}
                        {% for semester in school_year.HocKy %}
                            <option value={{ semester.ma_hoc_ky }}>{{ school_year.ten_nam_hoc }}
                                - {{ semester.ten_hoc_ky }}</option>
                        {% endfor %}
                    {% endfor %}
                </select>
                <label for="lop_dropdown">Chọn lớp</label>
                <select onchange="chonLop()" disabled="true" id="lop_dropdown" class="form-select"
                        aria-label="Default select example">
                    <option value="-1" selected>Chọn</option>
                </select>
            </div>
            <div class="col-md-9 d-flex flex-column gap-1 p-2">
                <div class="d-flex flex-column justify-content-center align-items-center w-100">
                    <h1>Xem danh sách lớp</h1>
                    <div class="row w-100">
                        <div class="col-md-6 ">
                            <h3>Lớp: <span class="lop_info"></span></h3>
                        </div>
                        <div class="col-md-6">
                            <h3>Sỉ số: <span class="size"></span></h3>
                        </div>
                    </div>
                </div>

                <!-- Container có thể kéo -->
                <div class="scrollable-container">
                    <!-- Container có thể kéo -->
                    <table id="table_hoc_sinh" class="table table-success">
                        <thead>
                        <tr>
                            <th scope="col">STT</th>
                            <th scope="col">Họ tên</th>
                            <th scope="col">Giới tính</th>
                            <th scope="col">Năm sinh</th>
                            <th scope="col">Địa chỉ</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>

                </div>
            </div>


        </form>
    </div>

    </div>
    </form>
    </div>

    <script src="{{ url_for('static', filename = 'js/Action/XemDanhSachLop.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
            integrity="sha384-BSBmM5dZCpe9LdEUE1ACJDEfhsjM1st4h8PbCBkRGJPDZM4PHVC5S8XqjhEM6kMy"
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/simplebar@5.3.0/dist/simplebar.min.js"></script>

{% endblock %}

